<div class="row pageHead">
    <p id="notice"><%= notice %></p>
    <h1>Welcome to Eat Where</h1>
</div>
<div class="row bodytext">
    <div class="col-6 col-border d-flex justify-content-end">
        <div class="colsections">
            <h3>Love to Eat?</h3>
            <h3>Hate having to choose?</h3>
        </div>
    </div>
    <div class="col-6">
        <div class="colsections">
            <h4>Add some restaurants</h4>
            <h4>Add some Events</h4>
        </div>
    </div>
</div>

