<div class="d-flex flex-row">
    <div class="heroImage">
        <div class="homeInner">
            <h1>Eat Where</h1>
            <p>Set your places and let us pick your place.</p>
            <%= link_to "Register Now", new_user_path, :class => "btn buttonGradient" %>
        </div>
    </div>
</div>
