<div class="d-flex flex-row">
    <div class="heroImage">
        <div class="homeInner">
            <h1>Eat Where</h1>
            <p>Take the uncertainty of where your group will go out to eat.</p>
            <button class="btn buttonGradient" type="button">
                <%= link_to "Register Now", new_user_path %>
            </button>
        </div>
    </div>
</div>
