<div class="row pageHead">
    <h1>New Event</h1>
</div>
<div class="col-6 col-centered">
    <div class="formBox form-group">
        <%= render 'form', event: @event %>
    </div>
    <div class="row justify-content-end formPageBtns">
        <button type="button" class="btn btn-danger text-white form-group">
            <i class="fa fa-times" aria-hidden="true"></i>
            <%= link_to '  CLOSE', events_path, class: 'text-white' %>
        </button>
    </div>
</div>