<h1>Add New Restaurant</h1>

<%= render 'form', restaurant: @restaurant %>
<div class="row">
    <div class="col-4 text-center">
        <%= link_to '   Return To List', restaurants_path, class: 'fa fa-arrow-circle-left text-primary' %>
    </div>
</div>
