<div class="row pageHead">
    <div class="col d-flex justify-content-start">
        <h1>Add New Restaurant</h1>
    </div>
    <div class="col d-flex justify-content-end">
        <button type="button" class="btn closebtn text-white">
                <i class="fa fa-times" aria-hidden="true"></i>
                <%= link_to '  CLOSE', restaurants_path, class: 'text-white' %>
        </button>
    </div>
</div>
<div class="col-6 col-centered">
    <div class="formHeight">
        <div class="formBox form-group">
            <%= render 'form', restaurant: @restaurant %>
        </div>
    </div>
</div>
