/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

 header {
    background: linear-gradient(#00cdb4, #00a0c3);
 }

 .login {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    margin-left: 10px;
    margin-right: 50px;
    opacity: 1;
 }
 .navdrops {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    margin-left: 5px;
    margin-right: 5px;
    opacity: 1;
 }
 .navLogo {
     color: white;
 }

 .homeimage { 
    background-image: url(hipsters.jpg);
}
.homeInner {
    background: rgba(0,0,0,0.5);
    border-radius: 6px;
    display: inline-block;
    margin-left: -25px;
    padding: 20px 25px 25px;
    color: white
}
.buttonGradient {
    color: #fff !important;
    background: linear-gradient(#00cdb4, #00a0c3);
    border-color: #00a0c3;
}