/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 @import "font-awesome-sprockets";
 @import "font-awesome";

// ********** UNIVERSAL ****************
html {
    height: 100%;
  }
body {
    position: relative;
    background-color: #222529;
}
header {
    background: linear-gradient(#00cdb4, #00a0c3);
 }
a:hover, a:hover {
    all:unset!important;
}

table {
    margin: 0 !important;
    padding: 0 !important;
}
.container {
    margin: 0 0 0 0 !important;
    padding: 0 0 0 0 !important;
}
.col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col,
.col-auto, .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm,
.col-sm-auto, .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-md,
.col-md-auto, .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg,
.col-lg-auto, .col-xl-1, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl,
.col-xl-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 0 !important;
  padding-left: 0 !important;
}
h1{
    margin-top: 5px;
    margin-left: 45px;
}
.mainContainer{
    height: 100%;
    min-height:100%;
   position:relative;
}
.container {
    min-height:100%;
    position:relative;
 }

 a, a:visited, a:hover, a:active {
    color: inherit;
  }
// ********** NAV BAR ****************
 .login {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    margin-left: 10px;
    margin-right: 50px;
    opacity: 1;
 }
 .navdrops {
    background: rgba(255,255,255,0.1);
    border: 1px solid rgba(255,255,255,0.7);
    border-radius: 4px;
    box-shadow: 0 1px 1px rgba(0,0,0,0.2);
    margin-left: 5px;
    margin-right: 5px;
    opacity: 1;
 }
 .navLogo {
     color: white;
     margin-left: 20px;
 }

.buttonGradient {
    color: #fff !important;
    background: linear-gradient(#00cdb4, #00a0c3);
    border-color: #00a0c3;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: #040506;
    text-align: left;
    list-style: none;
    background-color: rgba(255, 255, 255, 0.85);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
}

.btn-secondary:hover,.buttonGradient:hover, .btn-secondary:focus, .btn-secondary:active, .btn-secondary.active, .open>.dropdown-toggle.btn-secondary {
    color: #000;
    background: linear-gradient(#ff5f3c, #ff324b);
    border-color: #993a25; /*set the color you want here*/
}

// ********* PAGE HEADING ****************
.pageHead {
    background: linear-gradient(#f68a28, #f36c00);
    border-top: 1px solid black;
    padding-left: 25px;
}
.closebtn {
    background: rgba(255,255,255,0.1);
    margin-right: 10px;
    opacity: 1;
}
.closebtn:hover {
    color: #000;
    background: linear-gradient(#ff5f3c, #ff324b);
    margin-right: 10px;
    opacity: 1;
}
// ********* FORMS ****************
.col-form-label {
    color: white;
}
.formHeight {
    height: 800px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

.formBox {
    background: rgba(0,0,0,0.3);
    border-radius: 6px;
    display: inline-block;
    margin-top: 25px;
    // margin-left: 25px;
    padding: 20px 25px 25px;
    width: 470px;
}
.btnLefttMar {
    margin-left: 5px;
}
.btnRightMar {
    margin-right: 5px;
}
.formPageBtns {
    width: 470px;
}

// ********* FOOTER ****************

.footer {

    width: 100%;
    height: 350px;
    background-color: #282828;
    color: white;
    margin-left: 0;
    margin-right: 0;
    margin-top: 50px;
}

.footHeader {
    margin: 0 auto;
    padding-top: 25px;
}
.footmid{
    margin-top: 10px;
}
.footRightText{
    margin-right: 25px;
    text-align: right;
}

.footLeftText{
    margin-left: 25px;
}
.foot-border {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.footbottom{
    margin: 0 40px;
}
