// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leftcolpos {
    margin-left: 120px;
}
.rightcolpos {
    margin-right: 120px;
}

.col-border {
    border-right: 1px solid #d9d9d9;
}

.eventTop {
    margin-top: 10px;
}