// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.leftcolpos {
    margin-left: 120px;
}
.rightcolpos {
    margin-right: 120px;
}

.col-border {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.eventTop {
    margin-top: 10px;
    color: white;
}

.eventBottom {
    color: white;
}

hr {
    border-top: 1px solid rgba(255, 255, 255, 0.1) !important;
}