// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.col-border {
    border-right: 1px solid rgba(255, 255, 255, 0.1);
}
.bodytext {
    margin: 20px 0;
    color: white;
}
.colsections {
    margin: 25px 50px;
}

.textRight {
    text-align: right;
}