<div class="row">
    <div class="col"></div>
    <div class="col"></div>
</div>
<div class="row">
    <div class="col d-flex justify-content-start"> 
        <p>© 2017 Austin Kurtis</p>
    </div>
    <div class="col d-flex justify-content-end">            
        <a href="https://github.com/austinKurtis/EatWhere"><i class="fa fa-github" aria-hidden="true"></i>GitHub</a>
    </div>
</div>